= widget_div do
  %ul.nav
    - @pages.each do |p|
      %li{'data-id' => p.id}
        #{link_to p.name, [@community, p]}
        %a.setting{:href => "#"} edit
    %li 
      #{link_to '设置', admin_community_path(@community)}

  :javascript
    $(document).ready(function(){
      $("#add_widgets").hide();
      $('.setting').click(function() {
        $("#add_widgets").slideToggle();
      });
    });
